nav{
    margin-top: 20px;
    overflow: hidden;
    background-color: #333;
    margin-bottom: 20px;
    clear: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
nav a:hover{
    background-color: cornsilk;
    color: #111;
}
.titolo{
    margin: 40px;
    font-size: 60px;

}
.data{
    font-size: 25px;
    position: relative;
    bottom: 525px;
    left: 450px;
}
.autore{
    font-size: 30px;
    position: relative;
    bottom: 495px;
    left: 300px;

}
textarea{
    width: 1000px;
    height: 400px;
    font-size: 15px;
    position: relative;
    border: 1px solid #888;
    margin-left: 40px;
}

body{
    background-image:linear-gradient(to bottom right, hsl(150, 12%, 71%), hsl(271, 13%, 32%));
    height: 750px;
}
