#cardBody{
    height: 500px;
    width: 400px;
    margin-top: 100px;
    margin-bottom: 140px;
    border: 1px solid #343a40;
}
#confirm{
    margin-top: 30px;
    height: 45px;
    width: 100px;
    background-color: #c5c5c5;

}
.signUp{
    padding-left: 4px;
}
.card-header{
    background-color: #343a40!important;
    color: white;
}
.card-footer{
    background-color: #343a40!important;
    color: white;
}

