<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="pagina adibita alla visualizzazione dettagliata di un determinato blog post">
    <meta name="keywords" content="HTML">
    <meta name="author" content="Palmas Eric">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/blogpostDetails.css}">
</head>
<body>
<nav>
    <a th:href="@{'/'}">Home</a>
    <a th:href="@{'/blog/new'}">Aggiungi blog post</a>
    <br><br>
</nav>
<form>
<section th:post="${post}">
    <div class="titolo" th:text="${post.title}">titolo</div>
    <textarea readonly th:text="${post.text}">descrizione</textarea>
    <div class="authorName" th:text="${post.author.getName()}">Nome</div>
    <div class="authorSurname" th:text="${post.author.getSurname()}">Cognome</div>
    <time class="data" th:text="${post.date}">Data</time>
    <br>
    <a th:href="@{'/blog/'+${post.id}+'/edit'}">Modifica</a>
    <a th:href="@{'/blog/'+${post.id}+'/delete'}">Elimina</a>
</section>
</form>
</body>
</html>



