<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Pagina adibita all'inserimento di un nuovo blog post">
    <meta name="keywords" content="HTML">
    <meta name="author" content="Palmas Eric">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/createBlogForm.css}">
</head>
<body>
<article>
<nav>
    <a th:href="@{'/'}">Home</a>
    <a th:href="@{'/blog/new'}">Aggiungi blog post</a>
    <br><br>
</nav>
    <form  th:object="${blogpost}" method="post" >
            <div>
                <div class="description"> Descrizione:<br>
                    <textarea th:field="*{text}" th:value="*{text}"></textarea>
                </div>
                <h3>Titolo:<br><input type="text" name="titolo " size="35"  th:field="*{title}" ><br></h3>

                <h3>Autore: </h3><br>
                <select th:field ="*{author}" name="author">
                    <option th:each="user : ${users}" th:text = "${user.getName()}"
                            th:value="${user.getId()}" ></option>
                </select>
                <br>

                <h3>Categoria: </h3><br>
                <select th:field ="*{category}">
                    <option th:each="category : ${categories}" th:text = "${category.name}"
                            th:value="${category.name}"></option>
                </select>
                <br><br>
                <input class="button" type="submit" value="Salva">
            </div>
        </form>
</article>
</body>
</html>