<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="home page con visualizzazione generica dei blog post inseriti">
    <meta name="keywords" content="HTML">
    <meta name="author" content="Palmas Eric">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <title>Blog Post</title>
</head>
<body>
<header>
    <img th:src="@{/images/blog.png}" alt="logo" height="70" width="70" class="myImage"/>
    <div class="title">MyBlog</div>
</header>
<nav>
    <a th:href="@{'/'}">Home</a>
    <a th:href="@{'/blog/new'}">Aggiungi blog post</a>
    <br><br>
</nav>
<section>
    <article th:each="post : ${posts}">
        <a th:text="${post.title}" th:href="@{'/blog/'+${post.id}}">Titolo</a>
        <time class="data" th:text="${post.date}">Data</time>
        <hr width="100%" size="1" color="000000">
        <textarea readonly th:text="${post.text}">Descrizione</textarea>
    </article>
</section>
<aside>
    <div class="blogpost"><h3>Lista dei blog post</h3></div>
    <a th:each="post : ${blogposts}" th:text="${post.title}" th:href="@{'/blog/'+${post.id}}"></a>
</aside>
<br>
<footer>
    <p>Copyleft CC-by 2018 by Eric Palmas</p>
</footer>
</div>
</body>
</html>